<section id='intro'>
        <div class='jumbotron'>
            <div class='container'>
                <div class="row">
                    <div class='col-md-12'>
                        <h1>Welcome to Retro Techs</h1>
                        <p class='lead'>Adipiscing at in tellus integer feugiat scelerisque varius.</p>
                        <%= link_to "SHOP NOW", items_path, class: 'btn'  %>
                    </div>              
                </div>
            </div>
        </div> 
</section>

