<h2>Orders</h2>
<div class="orders index">
   <% @orders.each do |order| %>
    <p>Name: <%= order.name %></p>
    <p>Address: <%= order.address %></p>   
    <%= link_to("Show", order_path(order), :class => 'action show') %>
    <% end %>
</div>