<p>Checkout</p>

<%=link_to 'Cancel Order', order_path(@order), class: "btn btn-danger", method: "delete", data: { confirm: "Are you sure?" } if can? :destroy, @order %> ||

<%= link_to 'Back', orders_path %>