<% content_for :title do %>Edit Items<% end %>
<div class="container">
  <h4>Edit Items</h4>
  <%= render 'form', item: @item %>
  <br>
  <div class="back">
    <%= link_to 'Back', :back %>
  </div>
</div>
