<% content_for :title do %>Items<% end %>
<section id="items">
  <div class="container">
    <div class='row'>
      <div class='col-md-12 text-center'>
        <div class='row'>
          <% @items.each do |item| %>
            <div class='col-md-4 text-center'>
              <div>
                <%= image_tag item.picture, class: 'thumbnail' if item.picture.attached? %>
              </div>
              <div>
                <%= link_to "See More", item_path(item), class: 'btn' if can? :read, item  %>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</section>
