<% content_for :content do %>
<% end %>


<section id="second">
	<div class="container">
		<div class='row'>
			<div class='col-md-12 text-center'>
				<div class='row'>
					<% @items.each do |item| %>
					<div class='col-md-4 text-left'>
						<div class='outer'>
							<div class='upper'>
								<img src='pictures/inner.png'>
								<div class='innertext'>
								</div>
							</div>
							<div class='center'>
								<%= link_to "View Item", item_path(item), class: "center" if can? :read, item  %>
							</div>
						</div>
					</div>
					<%end%> 
				</div>	
			</div>	
		<div>
	</div>
</div>

<% if can? :create, Item %>
	<%= link_to("Add New Item", new_item_path, :class => 'action new') %>
<% end %>

            