<% content_for :content do %>
<% end %>

	        <div class="container">
		        <div class='row'>
					  <% @items.each do |item| %>
					  <div class='col-md-12 text-center'>
					  	<h3>adfaf</h3>
					  	<div class='row'>
						  	<div class='col-md-4 text-left'>
							  	<div class='outer'>
								  	<a href='single.html'>
									  	<div class='upper'>
											<img src='pictures/inner.png'>
											<div class='innertext'>
												<span>asdfasdf</span>
												<h4>adsfsdfaf</h4>
											</div>
									  	</div>
									  	<div class='lower'>
										  	<h3>asdfasfads</h3>
										  	<span><i class="fas fa-map-marker-alt"></i> asdfsdfsdf</span><br>
										  	<span><i class="far fa-clock"></i> asdfsdfsdf</span>
									  	</div>
								  	</a>
							  	</div>
						  	</div>
						  	
					<%end%> 
			    <div>
	        </div>

            