@import "bootstrap/scss/bootstrap";

h1,h2,h3,h4,h5,h6{
	font-family: 'Noto Sans TC', sans-serif;
}
p,a,span,li,label{
	font-family: 'Open Sans', sans-serif;
}
img{
	max-width:100%;
}
nav li{
	    margin: 0 13px;
}

#welcome .jumbotron{
	background: asset-url('hero.jpeg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 70vh;
	margin-bottom: 0px;
}

#welcome .jumbotron .container{
	position:relative;
    top: 50%;
    transform: translate(0, -50%);
}
#welcome .btn{
	margin-top: 20px;
    padding: 7px 28px;
    border-radius: 5px;
    border: 2px solid black;
}

#welcome .btn:hover{
	opacity:0.9;
	background-color:#007bff!important;
}

#items .btn{
    padding: 7px 28px;
    border-radius: 5px;
    border: 1px solid black;
}

#items .btn:hover{
	opacity:0.9;
	background-color: #007bff!important;
	border: 1px solid black;
}
#items{
	padding: 80px 0px;
}
#items h3, #latest h3{
	margin-bottom: 70px;
	font-size: 32px;
}
#items img{
	border-radius: 5%;
	width: 400px;
	height: 400px;
	margin-top: 25px;
	margin-bottom: 25px;
}
#items h5{
	margin-top: 22px;
    font-size: 16px;
}

p{
	font-size: 16px;
    line-height: 26px;
    color: #707070;
}

p.lead{
	color: black;
	line-height: 31px;
}

footer-copyright text-center py-3{
	padding: 80px 0px
}

