@import "bootstrap/scss/bootstrap";

html {
	position: relative;
	min-height: 100%;
  }
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
  }
h1,h2,h3,h4,h5,h6{
	font-family: 'Noto Sans TC', sans-serif;
}
p,a,span,li,label{
	font-family: 'Open Sans', sans-serif;
}
img{
	max-width:100%;
}
nav li{
	    margin: 0 13px;
}

#welcome .jumbotron{
	background: asset-url('hero.jpeg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
	height: 70vh;
	margin-top: 30px;
	margin-bottom: 60px;
}

#welcome .jumbotron .container{
	position:relative;
    top: 50%;
    transform: translate(0, -50%);
}
#welcome .btn{
	margin-top: 20px;
    padding: 7px 28px;
    border-radius: 5px;
    border: 2px solid black;
}

#welcome .btn:hover{
	opacity:0.9;
	background-color:black!important;
	color:white
}

#items .btn{
    padding: 7px 28px;
    border-radius: 5px;
    border: 1px solid black;
}

#items .btn:hover{
	opacity:0.9;
	background-color: black!important;
	border: 1px solid black;
	color:white
}
#items{
	padding: 0px 0px 70px 0px;
	margin-top: 5px;
}

#items img{
	border-radius: 5%;
	width: 300px;
	height: 300px;
	margin: 25px;
}

#itemDetails {
	margin-top: 30px;
}

#priceTag {
	margin-top: 30px;
}

p{
	font-size: 16px;
    line-height: 26px;
    color: #707070;
}

p.lead{
	color: black;
	line-height: 31px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 50px;
  }



